{% include "headers/header.html" %} {% load static %}
<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="{% static 'js/dist/img/AdminLTELogo.png' %}"
      alt="AdminLTELogo"
      height="60"
      width="60"
    />
  </div>
  <!-- Navbar -->
  {% include "headers/nav.html" %}
  <!-- /.navbar -->
  {% include "headers/sidebar.html" %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"><b>Create New Holiday</b></h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {% if request.user.groups.all.0.name == 'HR' %}
                    <a href="{% url 'hr.dashboard' %}" >
                {% else %}
                    <a href="{% url 'employee.dashboard' %}">
                {% endif %}
                Home</a></li>
              <li class="breadcrumb-item active">Create HolyDay</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-10">
            <!-- /.card -->
            <!-- Horizontal Form -->
            <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Holiday Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form class="form-horizontal" autocomplete="off" method="post" action="{% url 'hr.save_holyDay' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-body">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Holiday name </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control"   id="holiday_name" placeholder="Name" name="holiday_name" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-10">
                      <input type="date" class="form-control"   id="holiday_date" placeholder="Employee User Name" name="holiday_date" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control"   id="description" placeholder="Description" name="description" autocomplete="off" />
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                    <button type="submit" class="btn btn-primary btn-sm btn-flat mr-2"> Submit</button>
                    <a href="{% url 'hr.holyDayList' %}" type="submit" class="btn btn-default btn-sm btn-flat">Cancel</a>
                </div>
                <!-- /.card-footer -->
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- ./wrapper -->
  {% include "headers/footer.html" %}
</div>
