{% include "headers/header.html" %} {% load static %}
<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img
      class="animation__shake"
      src="{% static 'js/dist/img/AdminLTELogo.png' %}"
      alt="AdminLTELogo"
      height="60"
      width="60"
    />
  </div>
  <!-- Navbar -->
  {% include  "headers/nav.html" %}
  <!-- /.navbar -->
  {% include "headers/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">My Profile</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                {% if request.user.groups.all.0.name == 'HR' %}
                    <a href="{% url 'hr.dashboard' %}" >
                {% else %}
                    <a href="{% url 'employee.dashboard' %}">
                {% endif %}
                Home</a></li>
              <li class="breadcrumb-item active">My Profile</li>
            </ol>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                {% if emp.emp_image %}
                    <img alt="User profile picture" class="profile-user-img img-fluid img-circle"  src="{{ emp.emp_image.url }}" width="100" height="100">
                {% else %}
                    <p>No Image</p>
                {% endif %}
                </div>
                </div>

                <h3 class="profile-username text-center">{{ emp.emp_name }}</h3>

                <p class="text-muted text-center">{{ emp.emp_designation }}</p>
                <ul class="list-group list-group-unbordered mb-3 mr-3 ml-3">
                  <li class="list-group-item">
                    <b>Gender</b> <span class="float-right">
                            {% if emp.emp_gender == 'M' %}
                                Male
                            {% elif emp.emp_gender == 'F' %}
                                Female
                            {% else %}
                                Other
                            {% endif %}
                    </span>
                  </li>
                  <li class="list-group-item">
                    <b>Email</b> <span class="float-right"> {{ emp.user.email}} </span>
                  </li>
                  <li class="list-group-item">
                    <b>Mobile Number</b> <span class="float-right"> {{ emp.emp_mobile}} </span>
                  </li>
                </ul>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-home mr-1"></i> Address</strong>

                <p class="text-muted">
                  {{ emp.emp_address}}
                </p>

                <hr />

                <strong
                  ><i class="fas fa-book mr-1"></i> Education</strong
                >

                <p class="text-muted">{{ emp.emp_highest_qualification}}</p>

                <hr />

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">{{ emp.emp_technical_skills}}</span>
                </p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->

          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!-- ./wrapper -->
 {% include "headers/footer.html" %}
